body {
  padding: 0;
  margin: 0;
  overflow: overlay;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

#div1 {
  height: 18.5vh;
  width: 100vw;
  display: flex;
  background-image: url("../images/RutaMadridLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(35vw / 2 - (960 / 540) * 18.5vh * 0.5);
  background-color: rgb(130, 203, 228);
}

#div2 {
  display: flex;
  min-height: 80vh;
  width: 100vw;
  border: solid 0.75vh black;
  box-sizing: border-box;
}
#div2a {
  width: 35vw;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  font-size: x-large;
  box-sizing: border-box;
  border-right: solid 0.75vh black;
}
#div2b {
  width: 65vw;
  height: 80vh;
  background-color: white;
  box-sizing: border-box;
  border-left: none;
}
#div2a1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 27vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3svh;
  font-weight: bold;
  gap: 1.5vh;
}
#div2a2 {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top: solid 0.75vh black;
  box-sizing: border-box;
}
#divboton {
  background-color: aquamarine;
  font-size: 2.5vh;
  padding: 1vh;
  cursor: pointer;
  z-index: 100;
}
#input1 {
  border-radius: 2vw;
}
#input2 {
  border-radius: 2vw;
}
#divInstrucciones {
  font-size: 3vb;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  padding-top: 1vh;
  font-family: "Times New Roman", Times, serif;
  gap: 1vh;
  z-index: 100;
  box-sizing: border-box;
}

#divtitulo {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: "Times New Roman", Times, serif;
  padding-top: 2vh;
  margin-left: 1vw;
}

polyline {
  fill: none;
  stroke-width: 1px;
}

svg {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#window {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#miniWindow {
  height: 95%;
  aspect-ratio: 0.82393162393;
  background: white;
}

.stop {
  position: absolute;
  display: flex;
  background: white;
  z-index: 10;
}

.stopPoint {
  height: 0.76vh;
  width: 0.76vh;
  border-radius: 50%;
  margin-left: -0.38vh;
  margin-top: -0.38vh;
}

.stopName {
  height: 1.5vh;
  font-size: 1.25vh;
  margin-left: 0.5vh;
  margin-top: -0.75vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.stop:hover > .stopName {
  display: flex;
}

@media screen and (min-height: 100vw) {
  #div1 {
    height: 12vh;
    background-position: calc(100vw / 2 - (960 / 540) * 12vh * 0.5);
  }
  #div2 {
    min-height: 88vh;
  }
  #div2a {
    width: 100%;
    border-right: none;
  }
  #div2b {
    display: none;
  }

  #div2a1 {
    font-size: 2.5vh;
  }

  #input1 {
    height: 3vh;
    aspect-ratio: 6;
    font-size: 1.5vh;
  }

  #input2 {
    height: 3vh;
    aspect-ratio: 6;
    font-size: 1.5vh;
  }

  #divboton {
    background-color: aquamarine;
    font-size: 2.5vh;
    padding: 1vh;
    cursor: pointer;
    z-index: 100;
    margin-top: 1vh;
    font-weight: 400;
  }

  #divtitulo {
    font-size: 2.5vh;
  }
  #divInstrucciones {
    font-size: 1.5vh;
  }

  svg {
    display: none;
  }
}
